{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="http://schema.org/Blog">
    {{ if .Site.Params.intro }}
        <header class="post-header">
            <h1 class="post-title" itemprop="name">{{ .Site.Params.headline }}</h1>
            <p>{{ .Site.Params.description }}</p>
        </header>
    {{ end }}
    <p><a href="https://manning.com/books/securing-devops?a_aid=securingdevops&a_bid=1353bcd8">
        <img src="cover.jpg" />
        click the cover to see the book at manning.com
    </a></p>
    <ol class="post-list">
        {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol>

    <div class="post-navigation">
        {{ partial "pagination.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}
